In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
import string
import matplotlib.pyplot as plt
%matplotlib inline

In [9]:

dset = pd.read_csv("spam.tsv", sep='\t', names=['Class','Message'] , engine='python', error_bad_lines=False)
dset.head(8)

Skipping line 278: '	' expected after '"'
Skipping line 612: '	' expected after '"'
Skipping line 796: '	' expected after '"'
Skipping line 1416: '	' expected after '"'
Skipping line 4090: '	' expected after '"'
Skipping line 4128: '	' expected after '"'
Skipping line 4222: '	' expected after '"'
Skipping line 4549: '	' expected after '"'
Skipping line 4857: '	' expected after '"'
Skipping line 5077: '	' expected after '"'

  Class                                            Message
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham               I HAVE A DATE ON SUNDAY WITH WILL!!!
5   ham  As per your request 'Melle Melle (Oru Minnamin...
6  spam  WINNER!! As a valued network customer you have...
7  spam  Had your mobile 11 months or more? U R entitle...

In [10]:
dinfo=dset.info()
dinfo

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5557 entries, 0 to 5556
Data columns (total 2 columns):
Class      5557 non-null object
Message    5557 non-null object
dtypes: object(2)
memory usage: 87.0+ KB

In [11]:
dset.describe()

       Class                 Message
count   5557                    5557
unique     2                    5154
top      ham  Sorry, I'll call later
freq    4811                      30

In [12]:
dset['Length'] = dset['Message'].apply(len)

In [13]:
dset['Length'] = dset['Message'].apply(len)

In [14]:
dset.head(8)

  Class                                            Message  Length
0   ham  I've been searching for the right words to tha...     196
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155
2   ham  Nah I don't think he goes to usf, he lives aro...      61
3   ham  Even my brother is not like to speak with me. ...      77
4   ham               I HAVE A DATE ON SUNDAY WITH WILL!!!      36
5   ham  As per your request 'Melle Melle (Oru Minnamin...     160
6  spam  WINNER!! As a valued network customer you have...     158
7  spam  Had your mobile 11 months or more? U R entitle...     154

In [15]:
dset.groupby('Class').count()

       Message  Length
Class
ham       4811    4811
spam       746     746

In [16]:
dset['Length'].describe()

count    5557.000000
mean       80.454922
std        59.860288
min         2.000000
25%        36.000000
50%        61.000000
75%       122.000000
max       910.000000
Name: Length, dtype: float64

In [17]:

dObject = dset['Class'].values
dObject

array(['ham', 'spam', 'ham', ..., 'ham', 'ham', 'ham'], dtype=object)

In [18]:
dset.loc[dset['Class']=="ham","Class"] = 1

In [19]:
dset.loc[dset['Class']=="spam","Class"] = 0

In [20]:
dObject2=dset['Class'].values
dObject2

array([1, 0, 1, ..., 1, 1, 1], dtype=int64)

In [21]:
dset.head(8)

   Class                                            Message  Length
0      1  I've been searching for the right words to tha...     196
1      0  Free entry in 2 a wkly comp to win FA Cup fina...     155
2      1  Nah I don't think he goes to usf, he lives aro...      61
3      1  Even my brother is not like to speak with me. ...      77
4      1               I HAVE A DATE ON SUNDAY WITH WILL!!!      36
5      1  As per your request 'Melle Melle (Oru Minnamin...     160
6      0  WINNER!! As a valued network customer you have...     158
7      0  Had your mobile 11 months or more? U R entitle...     154

In [22]:
#clean message from punctuations
def cleanMessage(message):
    nonPunc = [char for char in message if char not in string.punctuation]
    nonPunc = "".join(nonPunc)
    return nonPunc

In [23]:
dset['Message'] = dset['Message'].apply(cleanMessage)

In [24]:
dset.head(8)

   Class                                            Message  Length
0      1  Ive been searching for the right words to than...     196
1      0  Free entry in 2 a wkly comp to win FA Cup fina...     155
2      1  Nah I dont think he goes to usf he lives aroun...      61
3      1  Even my brother is not like to speak with me T...      77
4      1                  I HAVE A DATE ON SUNDAY WITH WILL      36
5      1  As per your request Melle Melle Oru Minnaminun...     160
6      0  WINNER As a valued network customer you have b...     158
7      0  Had your mobile 11 months or more U R entitled...     154

In [25]:
CV = CountVectorizer(stop_words="english")

In [26]:
xSet = dset['Message'].values
ySet = dset['Class'].values

In [27]:
xSet_train,xSet_test,ySet_train,ySet_test = train_test_split(xSet,ySet,test_size=0.2)

In [28]:
xSet_train_CV = CV.fit_transform(xSet_train)

In [29]:
NB = MultinomialNB()

In [30]:
NB.fit(xSet_train_CV,ySet_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [31]:
xSet_test_CV = CV.transform(xSet_test)

In [32]:
ySet_predict = NB.predict(xSet_test_CV)

In [33]:
accuracyScore = accuracy_score(ySet_test,ySet_predict)*100

In [34]:
print("Prediction Accuracy :",accuracyScore)

Prediction Accuracy : 98.20143884892086

In [38]:
msg = input("Enter Message: ")
msgInput = CV.transform([msg])
predict = NB.predict(msgInput)
if(predict[0]==0):
    print("------------------------This message is spam---------------------------")
else:
    print("---------------------------This message is ham------------------------------")

Enter Message: URGENT! You have won a 1 week FREE membership in our £100,000 Prize Jackpot! Txt the word: CLAIM to No: 81010 T&C www.dbuk.net LCCLTD POBOX 4403LDNW1A7RW18
------------------------This message is spam---------------------------